{:kotoba.app/id "cloud.itonami.isic-8422", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiaijdaosephq5ptla6ee44clqcjtk3zv53uclyljpits4dlswlbvu", :kotoba.app/embed-url "ipfs://bafkreiaijdaosephq5ptla6ee44clqcjtk3zv53uclyljpits4dlswlbvu", :published {:archive "https://kotobase.net/ipfs/bafkreiaijdaosephq5ptla6ee44clqcjtk3zv53uclyljpits4dlswlbvu", :size 72118, :put-status 201, :get-status 200, :at "2026-08-15T13:38:19.801Z"}}
